<div class="topbar">
	<div class="container">
		<p>Free Shipping for all orders above $50</p>
		<img class="topbar__img js-close" src="{{ theme.link }}/src/assets/img/close.svg" alt="Logo" width="18" height="24">
	</div>
</div>
